<%= form_for resource, as: resource_name, url: registration_path(resource) do |f| %>
  <%= devise_error_messages! %>

  <%= f.fields_for :profile do |profile_form| %>
    <div class="field">
      <%= profile_form.label :first_name %>
      <%= profile_form.text_field :first_name %>
    </div>
    <div class="field">
      <%= profile_form.label :last_name %>
      <%= profile_form.text_field :last_name %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <button class="ui blue submit button">Sign up</button>
  </div>
<% end %>

<%= render "users/shared/links" %>
